/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */


header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
    height: 100%;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}


.col-left.up {
    float:left;
    width: 60%;
    padding: 5em 0em 0em 10em;
}

.col-right.up {
    float:left;
    width: 40%;
    padding: 6.6em 15em 0em 0em;
}

.col-left.center {
    float:left;
    width: 40%;
    padding:7.5em 0em 0em 15em;
}

.col-right.center {
    float:left;
    width: 60%;
    padding: 5em 0em 0em 5em;
}

h1 {
    font-size: 2.5em;
    font-weight: 800;
}

p {
    margin-top: 2em;
    line-height: 1.4;
    font-weight: 550;
    font-size: 1.2em;
}

.margin-center {
    margin-top: 8em;
    background-color: #f6f6f6;
    padding-bottom: 10em;
}

/* .wave{
    background-image: url(../img/wave.svg);
    height: 5em;
    width: 100%;
    color: #f6f6f6;
} */

.container.clearfix.bottom h1 {
    text-align: center;
}

.container.clearfix.bottom p {
    text-align: center;
    padding: 0em 12em;
}

.container.clearfix.bottom {
    margin-top: 10em;
    background-color: #f6f6f6 ;
    padding-top: 10em;
}

.img-bottom {
    text-align: center;
    padding: 0% 20%;
}

.position-stars {
    padding: 0% 32%;
}

h2 {
    text-align: center;
}

.main-footer {
    padding-top: 3em;
    padding-bottom: 3em;
}

.btn.big.last-btn {
    margin: 2em 44%;
    background-color:#265ee8 ;
    color: white;
}
